In [13]:
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv('Emissions_by_Country_percapita.csv')

In [15]:
data.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other
0,Afghanistan,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
countries = []
values = []
for i in data.index:
    if data['Year'][i] == 2021:
        if data['Country'][i] == 'USA':
            countries.append('United States of America')
        elif data['Country'][i] == 'Democratic Republic of the Congo':
            countries.append('Dem. Rep. Congo')
        else:
            countries.append(data['Country'][i])
        values.append(data['Total'][i])

In [17]:
new_data = pd.DataFrame({'Country':countries, 'Active':values})

In [18]:
new_data.to_csv('Emissions_by_Country_percapita_cleaned.csv')