In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
data = pd.read_csv('ice_data.csv')

In [3]:
data.head()

   Year          1YI          2YI          3YI          4YI          5+YI
0  1984  468341.9189  284171.1890  240927.7472  233205.7040  8.127450e+05
1  1985  427028.9879  329345.1416  241699.9515  215058.9026  9.119733e+05
2  1986  553284.3938  237452.8278  259846.7530  194981.5903  9.459503e+05
3  1987  440928.6656  297684.7646  192278.8752  223553.1501  9.934409e+05
4  1988  675678.7783  220850.4349  209267.3702  153668.6593  1.070661e+06

In [4]:
len(data.columns[1:])

5

In [12]:
names = ["1-year ice", "2-year ice", "3-year ice", "4-year ice", "5+ year ice"]
with open('data.txt', 'w') as f:
    for col in range(len(data.columns[1:])):
        for i in data.index:
            year = data["Year"][i]
            colname = data.columns[1:][col]
            value = data[colname][i] / 1000000
            string = '{"series": "' + names[col] + '", "year":' + str(year) + ', "count":' + str(value) + ', "date":' + '"' + str(year) + '-01-01T08:00:00.000Z"' + '},\n'
            f.write(string)

In [13]:
data.columns[1:]

Index(['1YI', '2YI', '3YI', '4YI', '5+YI'], dtype='object')