In [18]:
import numpy as np
import pandas as pd

In [19]:
data = pd.read_csv('emission_per_month.csv')

In [20]:
data.head()

   year  month  decimal date  average  deseasonalized  ndays  sdev   unc
0  1958      3     1958.2027   315.70          314.43     -1 -9.99 -0.99
1  1958      4     1958.2877   317.45          315.16     -1 -9.99 -0.99
2  1958      5     1958.3699   317.51          314.71     -1 -9.99 -0.99
3  1958      6     1958.4548   317.24          315.14     -1 -9.99 -0.99
4  1958      7     1958.5370   315.86          315.18     -1 -9.99 -0.99

In [21]:
date = []
CO2 = []
for i in data.index:
    if len(str(data['month'][i])) < 2:
        date_string = str(data['year'][i]) +"-0"+ str(data['month'][i]) + "-01"
    else:
        date_string = str(data['year'][i]) +"-"+ str(data['month'][i]) + "-01"
    date.append(date_string)
    CO2.append(data['average'][i])

In [22]:
new_data = pd.DataFrame({'Date':date, 'CO2':CO2})

In [23]:
new_data.to_csv('emission_per_month_cleaned.csv')